[core]
	editor = vim
	whitespace = -blank-at-eol,blank-at-eof,space-before-tab
[user]
	email = mageluingil@gmail.com
	name = Daniel Matthies
[color]
	ui = true
[push]
	default = simple
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE" 2>/dev/null
[merge]
	tool = meld
[mergetool "meld"]
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED" 2>/dev/null # Show partially merged file in middle pane
	# cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED" 2>/dev/null # Show shared ancestor in middle pane
[alias]
	clean-merged-branches = !git branch --no-color --list --merged | sed -n '/^  master\\|^\\*/!p' | xargs -n1 git branch -d
	new-branch = checkout origin/master --no-track -b
[init]
	defaultBranch = master
